.sotbit-cabinet-gadget-orders .gdparent {
	border: 1px solid #dadada;
	position: relative;
	background-color: #ffffff;
}
.sotbit-cabinet-gadget-orders .gdcontent {
	zoom: 1;
	color: #9ca4b1;
}
.sotbit-cabinet-gadget-orders .gdhtmlareachlink {
	color: #6f727c;
	font-size: 15px;
	font-family: ProximaNova, Calibri;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px dotted #6f727c;
	line-height: 30px;
}
.sotbit-cabinet-gadget-orders .gdsettrow {
	margin: 4px 15px 4px 12px;
	color: #6f727c;
	font-size: 15px;
	font-family: ProximaNova, Calibri;
}
.sotbit-cabinet-gadget-orders .gdsettrow input[type='text'] {
	color: #6f727c;
	font-size: 15px;
	font-family: ProximaNova, Calibri;
	width: 100%;
}
.sotbit-cabinet-gadget-orders .gdsettrow input[type='text']:focus,
.sotbit-cabinet-gadget-orders .gdsettrow input[type='text']:active {
	outline: auto 5px;
}
.sotbit-cabinet-gadget-orders .gdsettrow input[type='button'] {
	margin: 7px 0px 7px 0px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	border-bottom: 1px dotted #6f727c;
	padding: 0 0 1px 0;
	color: #6c727d;
}
.sotbit-cabinet-gadget-orders .gdoptions {
	padding: 4px;
	background-color: transparent;
}
.sotbit-cabinet-gadget-orders .options {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 12px;
	font-size: 14px;
	font-family: ProximaNova, Calibri;
	color: #b6b8be;
	line-height: 28px;
}
.sotbit-cabinet-gadget-orders .options select{
	width: 145px;
	padding: 5px 0 5px 10px;
	border: 1px solid #b6b8be;
	background: #fff url(img/ic_key-b.png) no-repeat;
	background-size: 15px;
	background-position: right 5px center;
	-webkit-appearance: none;
}
.sotbit-cabinet-gadget-orders .b2b-gadget-profile__link a {
	margin: 7px 0px 7px 0px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	border-bottom: 1px dotted #6f727c;
	padding: 0 0 1px 0;
	text-decoration: none;
}
.sotbit-cabinet-gadget-orders .order-status {
	margin: 0 16px 7px 16px;
	border: 1px solid #dadada;
	padding: 0;
}
.sotbit-cabinet-gadget-orders a .order-status-title {
	background: #fff url(img/ic_key-r-b.png) no-repeat;
	background-size: 15px;
	background-position: right 20px center;
	-webkit-appearance: none;
	padding: 12px 20px;
	color: #052640;
	font-family: ProximaNova, Calibri;
	font-size: 15px;
	background-color: #f8f8f8;
	text-decoration: none;
}
.sotbit-cabinet-gadget-orders .order-status-title-link {
	text-decoration: none;
}
.sotbit-cabinet-gadget-orders .order-status-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #6c727d;
	font-family: ProximaNova, Calibri;
	font-size: 13px;
	padding: 12px 20px;
}
.sotbit-cabinet-gadget-orders .order-status-now {
	text-align: center;
	color: #000000;
	font-family: ProximaNova, Calibri;
	font-size: 13px;
	font-weight: normal;
	padding: 6px 0;
	margin: 0 20px 20px 20px;
}
.sotbit-cabinet-gadget-orders .order-status-n {
	background-color: #ffd34e;
}
.sotbit-cabinet-gadget-orders .order-status-f {
	background-color: #8fdb92;
}
.sotbit-cabinet-gadget-orders .order-status-c {
	background-color: red;
}
.sotbit-cabinet-gadget-orders .order-status-p {
	 background-color: lightgrey;
}



.sotbit_cabinet .sotbit-cabinet-gadget-orders .order-status {
	margin: 0 0 5px 0;
}
.sotbit_cabinet .sotbit-cabinet-gadget-orders .b2b-gadget-profile__link {
	padding: 10px 0 0 0;
}
.sotbit_cabinet .sotbit-cabinet-gadget-orders .gdsettrow.TITLE_STD {
	display: none;
}
.sotbit_cabinet .sotbit-cabinet-gadget-orders .gdsettrow input[type='button'] {
	color: #6f727c;
	font-size: 15px;
	font-family: ProximaNova, Calibri;
	font-weight: normal;
	border: 1px solid #6f727c;
	background-color: transparent;
	padding: 1px 6px;
}
.sotbit_cabinet .sotbit-cabinet-gadget-orders .gdsettrow.STATUS,
.sotbit_cabinet .sotbit-cabinet-gadget-orders .gdsettrow.LIMIT {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 12px;
	font-size: 14px;
	font-family: ProximaNova, Calibri;
	color: #b6b8be;
	line-height: 14px;
}
.sotbit_cabinet .sotbit-cabinet-gadget-orders .gdsettrow.STATUS span,
.sotbit_cabinet .sotbit-cabinet-gadget-orders .gdsettrow.LIMIT span {
	padding: 5px 0 0 0;
}
.sotbit_cabinet .sotbit-cabinet-gadget-orders .gdsettrow.STATUS select,
.sotbit_cabinet .sotbit-cabinet-gadget-orders .gdsettrow.LIMIT select {
	width: 145px;
	padding: 5px 0 5px 10px;
	border: 1px solid #b6b8be;
	background: #fff url(img/ic_key-b.png) no-repeat;
	background-size: 15px;
	background-position: right 5px center;
	-webkit-appearance: none;
}
@media screen and (max-width: 610px) {
	.sotbit_cabinet .sotbit-cabinet-gadget-orders .gdsettrow.STATUS select,
	.sotbit_cabinet .sotbit-cabinet-gadget-orders .gdsettrow.LIMIT select {
		width: 100px;
	}
}

.sotbit-cabinet-gadget-orders .gdcontent {
	zoom: 1!important;
	color: #9ca4b1!important;
}
.sotbit-cabinet-gadget-orders .order-status {
	margin: 0 0 5px 0!important;
}
.sotbit-cabinet-gadget-orders .b2b-gadget-profile__link a {
	margin: 7px 0px 7px 0px!important;
	border: none!important;
	background-color: transparent!important;
	cursor: pointer!important;
	border-bottom: 1px dotted #6f727c!important;
	padding: 0 0 1px 0!important;
	text-decoration: none!important;
}
.sotbit-cabinet-gadget-orders .b2b-gadget-profile__link {
	padding: 10px 0 0 0!important;
}
.sotbit-cabinet-gadget-orders .gdsettrow.TITLE_STD {
	display: none!important;
}
.sotbit-cabinet-gadget-orders .gdsettrow.STATUS,
.sotbit-cabinet-gadget-orders .gdsettrow.LIMIT {
	display: flex!important;
	flex-direction: row!important;
	justify-content: space-between!important;
	margin: 12px!important;
	font-size: 14px!important;
	font-family: ProximaNova!important;
	color: #b6b8be!important;
	line-height: 14px!important;
}
.sotbit-cabinet-gadget-orders .gdsettrow.STATUS select,
.sotbit-cabinet-gadget-orders .gdsettrow.LIMIT select {
	width: 145px!important;
	height: 32px;
    outline: none;
	padding: 5px 0 5px 10px!important;
	border: 1px solid #b6b8be!important;
	background: #fff url(img/ic_key-b.png) no-repeat!important;
	background-size: 15px!important;
	background-position: right 5px center!important;
	-webkit-appearance: none!important;
}
.sotbit-cabinet-gadget-orders .gdsettrow input[type='button'] {
	color: #6f727c;
	font-size: 14px!important;
	font-family: ProximaNova!important;
	font-weight: normal!important;
	border: none!important;
	border-bottom: 1px dotted #6f727c!important;
	text-decoration: none!important;
	background-color: transparent!important;
	padding: 1px 1px!important;
}
.sotbit-cabinet-gadget-orders .gdsettrow.STATUS, .sotbit-cabinet-gadget-orders .gdsettrow.LIMIT {
	display: flex!important;
	flex-direction: row!important;
	justify-content: space-between!important;
	margin: 12px!important;
	font-size: 14px!important;
	font-family: ProximaNova!important;
	color: #b6b8be!important;
	line-height: 14px!important;
	flex-wrap: wrap!important;
}
.sotbit-cabinet-gadget-orders .gdsettrow.STATUS span,
.sotbit-cabinet-gadget-orders .gdsettrow.LIMIT span {
	padding: 5px 0 5px 0!important;
}
.widget_content .widget_button.order_status_button {
	width: auto;
	padding: 9px;
}