@charset "UTF-8";
body {
  height: 100%;
}
body .ps__rail-x,
body .ps__rail-y {
  opacity: 0.75;
}
body legend {
  padding: 0;
  border: 0;
}
body .page-content,
body .content {
  flex: auto;
  flex-shrink: 0;
}
body .ps__thumb-x,
body .ps__thumb-y {
  pointer-events: auto;
}
body .ps {
  overflow: hidden !important;
}

.main-user-consent-request {
  max-width: 100%;
}

.sidebar-content {
  z-index: 100;
}

.label-confidential {
  display: flex;
  margin-bottom: 10px;
}

.perfectscroll {
  position: relative;
  max-height: 192px;
}

.upload-file {
  position: relative;
  display: flex;
  align-items: stretch;
}
.upload-file:hover .action.btn {
  background-color: #2a3140;
}
.upload-file .input-file {
  width: 100%;
  margin-top: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  min-height: 2.25003rem;
  border: 0;
  cursor: pointer;
  z-index: 10;
}
.upload-file .filename {
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #999;
  padding: 0.4375rem 0.875rem;
  flex: 1;
  border: 1px solid #ddd;
  border-right: 0;
  background-color: #fff;
  text-align: left;
  word-break: break-word;
  border-top-left-radius: 0.1875rem;
  border-bottom-left-radius: 0.1875rem;
}
.upload-file .action.btn {
  user-select: none;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.popup-window-buttons .btn-link {
  float: right;
}

.content .sotbit_cabinet {
  padding-top: 0;
}

.sotbit_cabinet .gadgetholder {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-ui-filter-save-for-all {
  cursor: pointer;
}
.main-ui-filter-save-for-all::before {
  content: "";
  top: 0;
  left: 0;
  margin: 3px 0.5rem 3px 3px;
  border: 0.125rem solid #455a64;
  display: inline-block;
  text-align: center;
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  color: #455a64;
  border-radius: 0.125rem;
  -webkit-transition: border-color ease-in-out 0.15s, color ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, color ease-in-out 0.15s;
}

#save-for-all {
  width: 0;
  height: 0;
}

.main-ui-filter-field-button.main-ui-filter-save-for-all {
  display: flex;
  align-items: center;
}

#save-for-all:checked ~ .main-ui-filter-save-for-all::before {
  top: 0;
  left: 0;
  margin: 3px 0.5rem 3px 3px;
  border: 0.125rem solid #455a64;
  display: inline-block;
  text-align: center;
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  color: #455a64;
  border-radius: 0.125rem;
  content: "î˜€";
  font-family: icomoon;
  font-size: 1rem;
  line-height: 1;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: opacity ease-in-out 0.15s;
}

.page-content {
  padding-top: 52px;
}

.header-elements-toggle.text-default.d-md-none {
  display: none;
}

.login-form .create_account-captcha .captha_text.text-muted {
  height: 36px;
  margin-right: 0;
}

.create_account-captcha .captha_text.text-muted > img {
  max-height: 36px;
  max-width: 150px;
}

.registration-form-wrapper .bx-authform > div {
  width: 20rem;
}

body input[type=text] {
  display: block;
  padding: 0.4375rem 0.875rem;
  font-size: 0.8125rem;
  line-height: 1.5385;
  color: #333;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ddd;
  border-radius: 0.1875rem;
  box-shadow: 0 0 0 0 transparent;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.list-icons .list-icons-item {
  font-weight: normal;
  margin-left: 3px;
  width: 19px;
  height: 19px;
}

body .breadcrumb {
  padding-bottom: 0.625rem;
}

body .button-ok,
body .button-cancel {
  background-color: #3e495f;
  color: #fff;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.4375rem 0.875rem;
  font-size: 0.8125rem;
  line-height: 1.5385;
  border-radius: 0.1875rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

body .button-ok:hover,
body .button-cancel:hover,
body .button-ok:active,
body .button-cancel:active {
  background-color: #2a3140;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.4375rem 0.875rem;
  font-size: 0.8125rem;
  line-height: 1.5385;
  border-radius: 0.1875rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

.breadcrumb .breadcrumb-item {
  padding: 0.625rem 0 0 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  padding-left: 0.625rem;
}

.cart_header {
  margin: 0 1rem;
}

.cart_header .navbar-nav-link {
  padding: 0.875rem 1.6rem;
}

.cart_header .badge {
  right: 0.6rem;
}

.sidebar-user .media .bx-user-info-anchor-cell > img {
  border-radius: 100%;
}

.header_logout {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.header_logout > a {
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.header_logout > a:hover {
  color: #ededed;
}

.card .nav-sidebar .nav-item.your_manager {
  margin-bottom: 1rem;
}

.col-sm-19.sm-padding-right-no.blank_right-side {
  margin-top: 30px;
}

.validation-invalid-label {
  cursor: pointer;
}

.card-title.appeals-messages-title {
  color: #fff;
}

.form-check:hover > label {
  transition: all 0.2s ease-in-out;
}

.form-check:hover > label {
  color: #999;
  transition: all 0.2s ease-in-out;
}

.personal_list_order {
  background-color: #fff;
}

[type=reset], [type=submit], button, html body [type=button] {
  -webkit-appearance: none;
}

.popup-window-buttons .popup-window-button {
  background-color: #3e495f;
  color: #fff;
  transition: all 0.2s ease-in-out;
  font-weight: normal;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 0.4375rem 0.875rem;
  border-radius: 0.1875rem;
  min-width: 170px;
  text-transform: none;
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
  line-height: 1.5385;
  height: auto;
}

.popup-window-buttons .popup-window-button.popup-window-button-link {
  padding: 0;
  background: none;
  font-weight: 400;
  color: #2196f3;
}

.popup-window-buttons .popup-window-button.popup-window-button-link:hover {
  color: #0a6ebd;
  background: none;
}

.popup-window-buttons .popup-window-button:hover,
.popup-window-buttons .popup-window-button:active {
  background-color: #2a3140;
  color: #fff;
  font-weight: normal;
  min-width: 170px;
}

.bx-user-info-anchor-cell > div:last-child {
  display: none;
}

.main-ui-filter-search.main-ui-filter-theme-default > input {
  margin-left: 1rem;
}

.uniform-uploader .action.btn {
  background-color: #2196f3;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.uniform-uploader.hover .action.btn {
  background-color: #0a6ebd;
}

.btn.btn_b2b {
  background-color: #3e495f;
  color: #fff;
  transition: all 0.2s ease-in-out;
  font-weight: normal;
}

.btn.btn_save.popup-window-button {
  background-color: #3e495f;
  color: #fff;
  transition: all 0.2s ease-in-out;
  font-weight: normal;
  border: none;
  box-shadow: none;
}

.btn.btn_save.popup-window-button:active {
  background-color: #2a3140;
  color: #fff;
  font-weight: normal;
}

.btn.btn_save.popup-window-button:hover {
  background-color: #2a3140;
  color: #fff;
  font-weight: normal;
}

.btn.btn_b2b:hover, .btn.btn_b2b:active {
  background-color: #2a3140;
  color: #fff;
  font-weight: normal;
}

.main-ui-filter-find.btn.btn_b2b,
.main-ui-filter-save.btn.btn_b2b {
  min-width: 170px;
}

.bx-yandex-view-layout {
  max-width: 500px;
  max-height: 500px;
}

.map-wrapper {
  max-height: 520px;
}

.data {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.data td {
  text-align: left;
  vertical-align: top;
  width: 50%;
}
.data .map {
  width: 40%;
  padding: 0 25px 0 0;
  min-width: 400px;
}
.data .store {
  width: 60%;
  padding: 0;
}
.data .store table td {
  border-bottom: 1px solid #ccc;
}
.data .store table td.last {
  border-bottom: none;
}
.data table td {
  width: auto;
  padding: 10px 3px 10px;
}
.data .name {
  font-weight: bold;
  font-size: 12px;
}
.data .image_cell,
.data .image {
  width: 120px;
  text-align: center !important;
  vertical-align: middle;
}
.data input[type=radio] {
  display: none;
}
.data .view_map {
  box-shadow: 3px 3px 4px rgba(180, 188, 191, 0.5);
}
.data .ora-storelist {
  height: 400px;
  overflow: auto;
}

.modal-manager-image {
  margin-top: 0.3rem;
}

body div[id^=wait_] {
  background-image: none !important;
}

.pace-demo .theme_xbox .pace_activity, .pace-demo .theme_xbox .pace_activity::before,
.pace-demo .theme_xbox .pace_activity::after {
  border-top-color: #3e495f;
}

.index_checkout-promocode-total_text.promocod_economy h6:first-child {
  margin-right: 0.3rem;
}

.index_checkout-promocode-total_text.promocod_economy h6 {
  margin-bottom: 0;
}

.navbar.fixed-top {
  z-index: 994;
}

.navbar-brand {
  width: 90px;
  height: 100%;
  padding: 10px 10px 10px 0;
}

.modal_manager_icon {
  display: none;
}

.sidebar-xs .nav-sidebar .modal_manager_icon {
  display: block;
  margin-right: 0;
  cursor: pointer;
}

.sidebar-xs .nav-sidebar .modal_manager_icon .nav-link i {
  margin-right: 0;
}

.sidebar-xs .nav-item.your_manager {
  display: none;
}

.navbar-brand .header_logo {
  width: 90px;
  height: 30px;
}

.footer_sotbit_logo {
  margin-right: 1rem;
  margin-bottom: 3px;
  display: none;
}

.header-elements a.cart-in-header:focus, .header-elements a.cart-in-header:hover {
  color: #fff;
}

.header-elements .cart-in-header > i {
  font-size: 20px;
}

.header-elements .cart-in-header > i > span {
  background-color: #fe7a4f;
  border-radius: 100%;
  color: #fff;
  position: absolute;
  bottom: 16px;
  left: 15px;
  height: 21px;
  min-width: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #252b38;
  text-align: center;
  top: -11px;
  font-size: 11px;
  padding: 0 2px;
}

.datatable-scroll {
  width: 100%;
  overflow-x: auto;
  position: relative;
}

.display_block {
  display: block;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form-group .form-control.touchspin-empty {
  max-width: 55px;
  text-align: center;
}

.uniform-uploader .filename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* registration */
.chouse-company {
  padding-bottom: 15px;
}

.content-wrapper.content_no_padding {
  padding: 0;
}

/* ===================== FILE INPUT ===================== */
.file-area {
  width: 100%;
  position: relative;
  color: #455a64;
}

.file-area input[type=file] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
  border-radius: 0.1875rem;
}

.file-area .file-dummy {
  width: 100%;
  padding: 30px;
  background: rgba(69, 90, 100, 0.2);
  border: 2px dashed rgba(69, 90, 100, 0.2);
  text-align: center;
  transition: background 0.3s ease-in-out;
  border-radius: 15px;
}

.file-area .file-dummy .success {
  display: none;
}

.file-area:hover .file-dummy {
  background: rgba(69, 90, 100, 0.1);
}

.file-area input[type=file]:focus + .file-dummy {
  outline: 2px solid rgba(0, 0, 0, 0.5);
}

.file-area input[type=file]:valid + .file-dummy {
  border-color: rgba(69, 90, 100, 0.4);
  background-color: rgba(69, 90, 100, 0.3);
}

.file-area input[type=file]:valid + .file-dummy .success {
  display: inline-block;
}

.file-area input[type=file]:valid + .file-dummy .default {
  display: none;
}

/* end registration */
/* for company*/
.card-bitrix-cabinet {
  height: auto;
}

/* end for company */
/* ===============================================================blank product */
.blank_product_table .datatable-header {
  /*display: none;*/
}

.card-body.blank_product-search form > div {
  margin: 0;
}

.blank_product_table .input-group.bootstrap-touchspin {
  width: 115px;
}

.blank_product_table .input-group.bootstrap-touchspin input {
  text-align: center;
  padding: 0.4rem 0.4rem;
}

.blank_product_table .icon-checkmark3.mr-2 {
  color: #00B02A;
}

.blank_product_table .icon-zoomin3.mr-2 {
  color: #2a3140;
}

.card-body.blank_product_table-add_cart {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  background: #fff;
  z-index: 3;
}

.blank_product_table-add_cart.add_cart_fixed {
  position: unset;
  width: auto;
}

.blank_product_table-add_cart-total .number {
  margin-right: 30px;
}

.blank_product_table-add_cart .add_cart-button button {
  min-width: 170px;
}

.blank_product_table tbody::before {
  content: " ";
  display: block;
  line-height: 1em;
  color: transparent;
  height: 25px;
  border: none;
}

.blank_product_table .table tbody + tbody {
  border-top: 1px solid #ddd;
}

.btnBlock__authToLink {
  padding-left: 20px;
  color: #26a69a;
  font-size: 14px;
}

.btnBlock__authToLink:hover {
  color: #19736a;
}

.card-body .btnBlock {
  display: flex;
  align-items: center;
}

@media (max-width: 358px) {
  .btnBlock__authToLink {
    padding-left: 0;
    padding-top: 10px;
  }

  .card-body .btnBlock {
    flex-direction: column;
  }
}
/* end blank product */
/* ======================================================================================================index blank*/
.header-elements .cart-in-header {
  color: #fff;
}

.collapse.navbar-collapse {
  justify-content: space-between;
}

.row-under-modifications .btn.add_to_cart:hover {
  background-color: #2a3140;
  color: #fff;
}

@keyframes fixAddToCart {
  from {
    transform: translateY(100%);
    animation-duration: 0s;
  }
  to {
    transform: translateY(0);
    animation-duration: 1s;
  }
}
.fixed-add-cart-animation {
  animation: fixAddToCart 1s;
}

.fixed-add-cart-animation {
  position: fixed;
  z-index: 4;
  bottom: -2px;
}

.row-under-modifications.fixed-add-cart-animation {
  box-shadow: 0 -1px 10px 3px #ededed;
  border-top: 1px solid #ededed;
}

.row-under-modifications-fixed {
  position: unset;
}

@media (max-width: 405px) {
  .pagination-flat .page-link {
    min-width: 35px;
    padding: 0;
    margin-left: 0;
  }
}
/* categories and filters */
/* ======================================================================================================index checkout*/
.alert-warning {
  color: #000;
  background-color: #ededed;
  border-color: #fe7a4f;
  border-radius: 0.1rem;
  padding: 0 0.4rem;
}

.btn.btn-primary.b2b_detail_order__second__tab__btn {
  margin-bottom: 0.6rem;
}

/* =======================================================================================================company*/
.index_company-modal-colums {
  display: flex;
  flex-wrap: wrap;
}

.index_company-modal-colums .form-check {
  width: 50%;
}

.company-modal_check_all {
  margin-bottom: 1rem;
}

.company-modal_check_all span {
  margin-right: 0.5rem;
}

.popup-window-buttons .form-check {
  margin-bottom: 0;
}

.popup-window-buttons > div {
  display: flex;
}

.popup-window-buttons .btn_save {
  width: 170px;
  background: #3e495f;
  color: #fff;
}

.popup-window-buttons .btn_save:hover {
  background: #2a3140;
  color: #fff;
}

.company-modal-undo {
  padding: 0 0.87rem;
  cursor: pointer;
}

.company-modal-undo:hover {
  color: #2a3140;
}

.index_company-buttons .btn-primary {
  min-width: 170px;
  height: 36px;
  background: #3e495f;
  color: #fff;
}

.index_company-buttons .btn.btn-light.btn-ladda {
  margin-top: 0.1rem;
  min-width: 170px;
}

@media screen and (max-width: 600px) {
  .popup-window-buttons {
    flex-direction: column;
  }

  .popup-window-buttons .popup-window-buttons_btns {
    margin-left: 0;
    margin-top: 1rem;
  }

  .index_company-buttons {
    display: flex;
    flex-direction: column;
  }

  .index_company-buttons .btn {
    margin-top: 0.3rem;
  }

  .index_company-buttons .btn.btn-light.btn-ladda {
    margin-top: 0.3rem;
  }
}
/*****-======================================================================*/
@media screen and (max-width: 440px) {
  .content {
    padding: 0;
  }
}
/* ============================================================================================== login_registration*/
.card.support_page {
  padding: 1rem;
  margin-top: 3rem;
}

@media screen and (max-width: 500px) {
  .support_page-main_table {
    margin-bottom: 1rem;
  }

  .support_page-main_table .main-grid-panel-wrap tr {
    display: flex;
    flex-direction: column;
  }

  .support_page-main_table .main-grid-panel-wrap .main-ui-pagination-arrows .main-ui-pagination-arrow {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 992px) {
  #navbar-footer .nav-item > a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.main-ui-filter-popup-field-list .main-ui-filter-field-list-item .main-ui-select-inner-label::before {
  top: 0;
  left: -16px;
  color: #455a64;
  border-radius: 0.125rem;
  transition: border-color ease-in-out 0.15s, color ease-in-out 0.15s;
  border: 0.125rem solid #455a64;
  display: inline-block;
  text-align: center;
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  background: none;
}

.main-ui-filter-popup-field-list .main-ui-filter-field-list-item.main-ui-select-inner-item.main-ui-checked .main-ui-select-inner-label::before {
  top: 0;
  left: -16px;
  color: #455a64;
  border-radius: 0.125rem;
  border: 0.125rem solid #455a64;
  display: inline-block;
  text-align: center;
  width: 1.25rem;
  height: 1.25rem;
  content: "î˜€";
  font-family: icomoon;
  font-size: 1rem;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: opacity ease-in-out 0.15s;
}

@media screen and (max-width: 767px) {
  .sidebar-mobile-main .sidebar-main,
  .sidebar-mobile-main .sidebar-main .sidebar-content {
    padding-top: 0 !important;
  }

  .navbar-collapse.collapsing {
    display: flex;
    justify-content: space-between;
  }

  .navbar-collapse.collapse.show {
    display: flex;
  }

  .navbar-collapse .navbar-nav {
    display: none;
  }
}
@media (min-width: 768px) {
  .sidebar-xs .page-content .sidebar-main.sidebar-fixed {
    z-index: 993;
  }
}
.btn.btn-light.wrap_content_btn {
  white-space: normal;
}

.card .fade:not(.show),
.card .tab-pane:not(.show) {
  width: 0;
  height: 0;
  overflow: hidden;
}

.card .tab-content > .tab-pane {
  display: block;
}