.widget-my_cart .widget-my_cart-products {
    display: flex;
    flex-direction: row;
    margin: 13px 0 5px 0;
    flex-wrap: wrap;
    max-width: 340px;
}

.widget-my_cart .widget-my_cart-products .block-cart-img {
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px;
    width: 45px;
    height: 45px;
}